.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 60vw;
    width: 30vw;
    height:100vh;
    background:#f0f8ff;
}

.search{
    flex:1;
    border: 1px solid;
}
.search > *{
    margin: 0;
    height: 100%;
    width: 100%;
    border:none;
    border-radius: 0px;
}

.friends{
    flex:9;
    overflow-y: auto;
}

.friends::-webkit-scrollbar{
    width: 5px;
}
.friends::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: grey;
}


.contact{
    padding:10px;
    cursor:pointer;
    display: flex;
    justify-content: space-between;
}
.contact:hover{
    background-color: #00000040;
}

.active_contact{
    background:#dfdfdf;
}

.badge{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #253757;
    color: white;
}
